.container{
    margin-bottom: 100px;
}

.row{
    padding: 30px;
    margin: 20px;
}

div.carousel-indicators{
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;
    background: white;
}

div.carousel-indicators button, div.carousel-indicators button.active{
    float: left;
    width: 30px;
    height: 10px;
    margin: 0;
    border-radius: 20px;
    border: 10px;
    background: transparent;
    }

div.carousel-indicators button.active{
    background: rgb(246, 246, 9);
}

.card{
    margin: 15px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px whitesmoke;
}

.card h5,.card p{
    text-align: center;
}
.cat{
    border: 3px solid rgb(246, 9, 116);
    border-radius: 5px;
    width: 100px;
}

.position{
    margin-top: 150px;
}

.img2{
    padding: 50px;
}

.category{
    margin-bottom: -15px;
}
